@import url(https://fonts.googleapis.com/css?family=Rye|Noto+Sans:400,400italic,700,700italic);

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body{
	background: #085AA1;
	background-size: cover;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	color: #fff;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    overflow: hidden;
}
section {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 5em 0;
}
section#splash {
	background: url(../images/flag.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:90vh;
	padding: 0;
}
section#splash div {
	padding: 15em 0;
    background: rgba(0,0,0,.5);
    color: rgba(255,255,255,.75);
    text-align: center;
}
main {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    float: right;
}
#wrapper {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
/*header nav{*/
	/*float: right;*/
/*}*/
h1{
	font-size: 70px;
}
h1, h2{
	font-family: 'Rye', cursive;
}
section img{
	display: block;
	margin: 0 auto;
}
p {
}
ol{
	list-style: none;
}
li{
	display: inline-block;
}
li a:after{
	content: ",";
}
img{
	width: 30%;
}
a{
	text-decoration: none;
	color: #09AB71;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
	color: #098BAB;
}
.sitename {
	font-variant: small-caps;
	font-weight: bold;
}
/*footer{*/
	/*margin-top: 30px;*/
	/*text-align: center;*/
/*}*/
.social{
	width: 40px;
	padding: 10px;
	margin-top: 10px;
}
.search{
	text-align: center;
	padding: 20px;
	font-size: 25px;
}

#slogan{
	font-style: italic;
	/* text-align: center; */
}
